In [61]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [62]:
# Clean the data by turning sex and embark location into numerical variables 

test_df = pd.read_csv("test.csv")
train_df = pd.read_csv("train.csv")
def convert_sex(s):
    if s == 'male':
        return 0
    return 1

train_df = train_df.assign(Sex= train_df.get('Sex').apply(convert_sex))
test_df = test_df.assign(Sex= test_df.get('Sex').apply(convert_sex))

def convert_embark(location):
    if location == 'S':
        return 1
    elif location == 'C':
        return 2
    return 3

train_df = train_df.assign(Embarked = train_df.get('Embarked').apply(convert_embark))
test_df = test_df.assign(Embarked = test_df.get('Embarked').apply(convert_embark))

In [63]:
# Find which columns have missing values
print(np.count_nonzero(train_df.Sex.isna()))
print(np.count_nonzero(train_df.Age.isna()))
print(np.count_nonzero(train_df.SibSp.isna()))
print(np.count_nonzero(train_df.Parch.isna()))
print(np.count_nonzero(train_df.Fare.isna()))
print(np.count_nonzero(train_df.Embarked.isna()))
print('\n')

print(np.count_nonzero(test_df.Sex.isna()))
print(np.count_nonzero(test_df.Age.isna()))
print(np.count_nonzero(test_df.SibSp.isna()))
print(np.count_nonzero(test_df.Parch.isna()))
print(np.count_nonzero(test_df.Fare.isna()))
print(np.count_nonzero(test_df.Embarked.isna()))

0
177
0
0
0
0


0
86
0
0
1
0

In [15]:
# Deal with missing values in the age column by inputting average age of the column
train_avg = train_df.Age.mean()
train_df.Age.fillna(train_avg, inplace=True)

test_avg = test_df.Age.mean()
test_df.Age.fillna(test_avg, inplace=True)
test_df.Fare.fillna(test_df.Fare.mean(), inplace=True)

In [50]:
"""Build a simple decision tree regressor model by dropping features such as name, ticket number, cabin number"""
from sklearn.tree import DecisionTreeRegressor
titanic_model1 = DecisionTreeRegressor()
features = ['Sex','Parch','Age','SibSp','Embarked', 'Fare']

X = train_df[features]
y = train_df['Survived']
train_X, val_X, train_y, val_y = train_test_split(X, y, random_state = 0)
titanic_model1.fit(train_X, train_y)
predictions = titanic_model1.predict(val_X)

In [51]:
# Clean the values in predictions. Round the number, if necessary
predictions = [round(num, 0) for num in predictions]
print(predictions)

[1.0, 0.0, 0.0, 1.0, 1.0, 0.0, 1.0, 1.0, 0.0, 1.0, 0.0, 1.0, 0.0, 1.0, 1.0, 0.0, 0.0, 1.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 1.0, 0.0, 1.0, 1.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 1.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 1.0, 0.0, 1.0, 0.0, 1.0, 0.0, 1.0, 1.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 1.0, 0.0, 1.0, 1.0, 0.0, 0.0, 1.0, 1.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, 1.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 1.0, 0.0, 0.0, 1.0, 0.0, 1.0, 1.0, 0.0, 0.0, 1.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, 1.0, 0.0, 1.0, 1.0, 0.0, 1.0, 0.0, 1.0, 0.0, 1.0, 1.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 1.0, 0.0, 1.0, 0.0, 0.0, 1.0, 1.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 1.0, 1.0, 0.0, 1.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 1.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 1.0, 0.0, 1.0, 0.0]

In [52]:
# to do for tomorrow: compare accuracies and use one-hot encoder

In [53]:
def accuracy(actual, pred):
    return 1 - abs(actual - pred).mean()

print(accuracy(val_y, predictions))

0.7713004484304933

In [54]:
"""Note for later: use one-hot encoder for sex and embark location, use random forest regressor, use pipeline,
use XG Boost"""

'Note for later: use one-hot encoder for sex and embark location, use random forest regressor, use pipeline,\nuse XG Boost'

In [64]:
# Using ordinal encoding
train_df = pd.read_csv("train.csv") # get the original dataframe, not the one where I used ordinal encoding
from sklearn.preprocessing import OneHotEncoder
features = ['Sex','Parch','Age','SibSp','Embarked', 'Fare']

# Deal with missing values
train_avg = train_df.Age.mean()
train_df.Age.fillna(train_avg, inplace=True)

test_avg = test_df.Age.mean()
test_df.Age.fillna(test_avg, inplace=True)
test_df.Fare.fillna(test_df.Fare.mean(), inplace=True)

X = train_df[features]
y = train_df['Survived']
X_train, X_valid, y_train, y_val = train_test_split(X, y, random_state = 0)

In [74]:
# Use one-hot encoder on columns sex and embarked
object_cols = ['Sex', 'Embarked']

OH_encoder = OneHotEncoder(handle_unknown='ignore', sparse_output=False)
OH_cols_train = pd.DataFrame(OH_encoder.fit_transform(X_train[object_cols]))
OH_cols_valid = pd.DataFrame(OH_encoder.transform(X_valid[object_cols]))

# One-hot encoding removed index; put it back
OH_cols_train.index = X_train.index
OH_cols_valid.index = X_valid.index

# Remove categorical columns (will replace with one-hot encoding)
num_X_train = X_train.drop(object_cols, axis=1)
num_X_valid = X_valid.drop(object_cols, axis=1)

# Add one-hot encoded columns to numerical features
OH_X_train = pd.concat([num_X_train, OH_cols_train], axis=1)
OH_X_valid = pd.concat([num_X_valid, OH_cols_valid], axis=1)

OH_X_train.columns = OH_X_train.columns.astype(str)
OH_X_valid.columns = OH_X_valid.columns.astype(str)

X_train[object_cols]

        Sex Embarked
105    male        S
68   female        S
253    male        S
320    male        S
706  female        S
..      ...      ...
835  female        C
192  female        S
629    male        Q
559  female        S
684    male        S

[668 rows x 2 columns]

In [75]:
titanic_model1.fit(OH_X_train, y_train)
preds = titanic_model1.predict(OH_X_valid)
print(accuracy(y_val, preds))

# this was not more accurate than ordinal encoding .__.

0.7649850523168908